@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.main-container-1 {
    margin: 0 auto;
    width: 53%;
}

.projects-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 1rem;
}

.projects-main-container img {
    width: 94%;
    margin-top: 1rem;
    /* border: 1px solid #e3e3e3; */
}

.projects-main-container h4 {
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
}

.projects-main-container-image {
    text-align: center;
}

.projects-main-container-content {
    padding: 1rem;
    padding-bottom: 2rem;
}

.projects-container-1 {
    display: flex;
    width: 100%;

}

.projects-container-1-1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.projects-container-1-1-1 {
    background-color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.projects-container-1-1-1 img {
    width: 92%;
}

.projects-container-1-1-1 h4 {
    margin-bottom: 0.7rem;
}

.projects-container-1-1-2 {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.projects-container-1-1-2 img {
    width: 92%;
}

.projects-container-1-1-2 h4 {
    margin-bottom: 0.7rem;
}

.projects-container-1-2 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 60%;
    margin-left: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.projects-container-2 {
    display: flex;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.projects-container-2 img {
    width: 93%;
    margin-bottom: 1rem;
}

.projects-container-2 h4 {
    margin-bottom: 0.7rem;
}

.projects-container-2-image {
    width: 50%;
    text-align: center;
}

.projects-container-2-content {
    width: 50%;
    padding: 1rem;
}

.projects-container-3 {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.projects-container-3-1 {
    background-color: #ffffff;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.projects-container-3-1 img {
    width: 93%;
}

.projects-container-3-1 h4 {
    margin-bottom: 0.7rem;
}

.projects-container-3-2 {
    background-color: #ffffff;
    width: 50%;
    margin-left: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}

.projects-container-3-2 img {
    width: 93%;
}

.projects-container-3-2 h4 {
    margin-bottom: 0.7rem;
}

.projects-container-1-1-1,
.projects-container-1-1-2,
.projects-container-1-2,
.projects-container-2,
.projects-container-3-1,
.projects-container-3-2 {
    transition: all 0.3s ease;
    position: relative;
}

.projects-container-1-1-1:hover,
.projects-container-1-1-2:hover,
.projects-container-1-2:hover,
.projects-container-2:hover,
.projects-container-3-1:hover,
.projects-container-3-2:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    .main-container-1 {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:1274px) {

    .projects-container-1 {
        flex-direction: column;
    }

    .projects-container-1-1 {
        width: 100%;
        margin-right: 0;
    }

    .projects-container-1-2 {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 1rem;
    }

    .projects-container-2 {
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .projects-container-2 img {
        margin-bottom: 0;
    }

    .projects-container-2-image {
        width: 100%;
    }

    .projects-container-2-content {
        width: 92%;
        padding: 1rem;
    }

    .projects-container-3 {
        flex-direction: column;
    }

    .projects-container-3-1 {
        width: 100%;
        margin-right: 0;
    }

    .projects-container-3-2 {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 1rem;
    }

}