.certification-section-main-container{
    width: 100%;
    margin-top: 3.5rem;
}

.section-two-container-2{
    width: 100%;
    /* margin-block: 2rem; */
}


.section-two-container-2 h1{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    font-family: "Alata", sans-serif;
    color: #000000;
    text-align: center;
}


.long-card-1,.long-card-2,.long-card-3,.long-card-4,.long-card-5{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-block: 1rem;
    padding: 1.6rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07);
}


.long-card-1-content,.long-card-2-content,.long-card-3-content,.long-card-4-content,.long-card-5-content{
    margin-left: 1.5rem;
}

.long-card-1 img,.long-card-2 img{
    width: 15%;
}

.long-card-3 img,.long-card-4 img,.long-card-5 img{
    width: 15%;
}

.long-card-1 h1,.long-card-2 h1,.long-card-3 h1,.long-card-4 h1,.long-card-5 h1{
    font-family: "Alata", sans-serif;
    text-align: left;
    font-size: 1.2rem;
    color: black;
    margin: 0;
}

.long-card-1-content p,.long-card-2-content p,.long-card-3-content p,.long-card-4-content p,.long-card-5-content p{
    font-size: 0.8rem;
    font-weight: 400;
}

@media(max-width:468px){

    .section-two-container-2 h1{
        font-size: 1.6rem;
    }

    .long-card-1 img,.long-card-2 img,.long-card-3 img,.long-card-4 img,.long-card-5 img{
        width: 30%;
    }

    .long-card-1 h1,.long-card-2 h1,.long-card-3 h1,.long-card-4 h1,.long-card-5 h1{
        font-size: 0.8rem;
    }

    .long-card-1 p,.long-card-2 p,.long-card-3 p,.long-card-4 p,.long-card-5 p{
        font-size: 0.5rem;
    }

}
